html {
  height: 100%; }

body {
  background: linear-gradient(#000, #000, #111);
  height: 100%;
  overflow: hidden; }

.scene {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50%;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateZ(45deg);
  animation: spin 30s infinite linear; }

@keyframes spin {
  from {
    transform: rotateX(45deg) rotateZ(45deg); }
  to {
    transform: rotateX(45deg) rotateZ(405deg); } }

.room {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50%;
  transform-style: preserve-3d; }

.side {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50%;
  transform-style: preserve-3d; }

.side-top {
  transform: translateY(-176px); }

.side-bottom {
  transform: translateY(176px); }

.side-left {
  transform: translateX(-176px) rotateZ(90deg); }

.side-right {
  transform: translateX(176px) rotateZ(90deg); }

.floor {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50%;
  transform-style: preserve-3d; }
  .floor .face-top {
    background-image: url("../textures/floor-top.jpg");
    background-position: center;
    background-size: 400px;
    backface-visibility: hidden;
    height: 400px;
    position: absolute;
    width: 400px;
    transform: translate3d(-50%, -50%, 0); }
  .floor .face-bottom {
    background-image: url("../textures/none");
    background-position: center;
    background-size: 400px;
    backface-visibility: hidden;
    height: 400px;
    position: absolute;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transform: translate3d(-50%, -50%, -72px); }
  .floor .face-front {
    background-image: url("../textures/floor-side.jpg");
    background-position: top center;
    background-size: 400px;
    backface-visibility: hidden;
    height: 72px;
    position: absolute;
    width: 400px;
    transform: translate3d(-50%, -50%, -36px) translateY(200px) rotateX(270deg); }
  .floor .face-back {
    background-image: url("../textures/floor-side.jpg");
    background-position: top center;
    background-size: 400px;
    backface-visibility: hidden;
    height: 72px;
    position: absolute;
    width: 400px;
    transform: translate3d(-50%, -50%, -36px) translateY(-200px) rotateX(270deg) rotateY(180deg); }
  .floor .face-left {
    background-image: url("../textures/floor-side.jpg");
    background-position: top center;
    background-size: 400px;
    backface-visibility: hidden;
    height: 72px;
    position: absolute;
    width: 400px;
    transform: translate3d(-50%, -50%, -36px) translateX(200px) rotateX(270deg) rotateY(90deg); }
  .floor .face-right {
    background-image: url("../textures/floor-side.jpg");
    background-position: top center;
    background-size: 400px;
    backface-visibility: hidden;
    height: 72px;
    position: absolute;
    width: 400px;
    transform: translate3d(-50%, -50%, -36px) translateX(-200px) rotateX(270deg) rotateY(270deg); }

.wall {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50%;
  transform-style: preserve-3d; }
  .wall .face-top {
    background-image: url("../textures/wall-top.jpg");
    background-position: center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 18px;
    position: absolute;
    width: 304px;
    transform: translate3d(-50%, -50%, 116px); }
  .wall .face-bottom {
    background-image: url("../textures/none");
    background-position: center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 18px;
    position: absolute;
    width: 304px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transform: translate3d(-50%, -50%, 0); }
  .wall .face-front {
    background-image: url("../textures/wall-side.jpg");
    background-position: top center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 116px;
    position: absolute;
    width: 304px;
    transform: translate3d(-50%, -50%, 58px) translateY(9px) rotateX(270deg); }
  .wall .face-back {
    background-image: url("../textures/wall-side.jpg");
    background-position: top center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 116px;
    position: absolute;
    width: 304px;
    transform: translate3d(-50%, -50%, 58px) translateY(-9px) rotateX(270deg) rotateY(180deg); }
  .wall .face-left {
    background-image: url("../textures/wall-side.jpg");
    background-position: top center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 116px;
    position: absolute;
    width: 18px;
    transform: translate3d(-50%, -50%, 58px) translateX(152px) rotateX(270deg) rotateY(90deg); }
  .wall .face-right {
    background-image: url("../textures/wall-side.jpg");
    background-position: top center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 116px;
    position: absolute;
    width: 18px;
    transform: translate3d(-50%, -50%, 58px) translateX(-152px) rotateX(270deg) rotateY(270deg); }

.door {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50%;
  transform-style: preserve-3d; }
  .door .face-top {
    background-image: url("../textures/door-top.jpg");
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    height: 8px;
    position: absolute;
    width: 64px;
    transform: translate3d(-50%, -50%, 96px); }
  .door .face-bottom {
    background-image: url("../textures/none");
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    height: 8px;
    position: absolute;
    width: 64px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transform: translate3d(-50%, -50%, 0); }
  .door .face-front {
    background-image: url("../textures/door-side.jpg");
    background-position: top center;
    background-size: cover;
    backface-visibility: hidden;
    height: 96px;
    position: absolute;
    width: 64px;
    transform: translate3d(-50%, -50%, 48px) translateY(4px) rotateX(270deg); }
  .door .face-back {
    background-image: url("../textures/door-side.jpg");
    background-position: top center;
    background-size: cover;
    backface-visibility: hidden;
    height: 96px;
    position: absolute;
    width: 64px;
    transform: translate3d(-50%, -50%, 48px) translateY(-4px) rotateX(270deg) rotateY(180deg); }
  .door .face-left {
    background-image: url("../textures/door-side.jpg");
    background-position: top center;
    background-size: cover;
    backface-visibility: hidden;
    height: 96px;
    position: absolute;
    width: 8px;
    transform: translate3d(-50%, -50%, 48px) translateX(32px) rotateX(270deg) rotateY(90deg); }
  .door .face-right {
    background-image: url("../textures/door-side.jpg");
    background-position: top center;
    background-size: cover;
    backface-visibility: hidden;
    height: 96px;
    position: absolute;
    width: 8px;
    transform: translate3d(-50%, -50%, 48px) translateX(-32px) rotateX(270deg) rotateY(270deg); }

.wall-door {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50%;
  transform-style: preserve-3d; }
  .wall-door .face-top {
    background-image: url("../textures/wall-top.jpg");
    background-position: center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 18px;
    position: absolute;
    width: 72px;
    transform: translate3d(-50%, -50%, 116px); }
  .wall-door .face-bottom {
    background-image: url("../textures/none");
    background-position: center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 18px;
    position: absolute;
    width: 72px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transform: translate3d(-50%, -50%, 0); }
  .wall-door .face-front {
    background-image: url("../textures/wall-side.jpg");
    background-position: top center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 116px;
    position: absolute;
    width: 72px;
    transform: translate3d(-50%, -50%, 58px) translateY(9px) rotateX(270deg); }
  .wall-door .face-back {
    background-image: url("../textures/wall-side.jpg");
    background-position: top center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 116px;
    position: absolute;
    width: 72px;
    transform: translate3d(-50%, -50%, 58px) translateY(-9px) rotateX(270deg) rotateY(180deg); }
  .wall-door .face-left {
    background-image: url("../textures/wall-side.jpg");
    background-position: top center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 116px;
    position: absolute;
    width: 18px;
    transform: translate3d(-50%, -50%, 58px) translateX(36px) rotateX(270deg) rotateY(90deg); }
  .wall-door .face-right {
    background-image: url("../textures/wall-side.jpg");
    background-position: top center;
    background-size: 128px;
    backface-visibility: hidden;
    height: 116px;
    position: absolute;
    width: 18px;
    transform: translate3d(-50%, -50%, 58px) translateX(-36px) rotateX(270deg) rotateY(270deg); }

.wall-door-left {
  transform: translateX(-116px); }

.wall-door-right {
  transform: translateX(116px); }

.pillar-door-left {
  transform: translateX(-56px); }

.pillar-door-right {
  transform: translateX(56px); }

.pillar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50%;
  transform-style: preserve-3d; }
  .pillar .face-top {
    background-image: url("../textures/pillar-top.jpg");
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    height: 48px;
    position: absolute;
    width: 48px;
    transform: translate3d(-50%, -50%, 128px); }
  .pillar .face-bottom {
    background-image: url("../textures/none");
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
    height: 48px;
    position: absolute;
    width: 48px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transform: translate3d(-50%, -50%, 0); }
  .pillar .face-front {
    background-image: url("../textures/pillar-side.jpg");
    background-position: top center;
    background-size: cover;
    backface-visibility: hidden;
    height: 128px;
    position: absolute;
    width: 48px;
    transform: translate3d(-50%, -50%, 64px) translateY(24px) rotateX(270deg); }
  .pillar .face-back {
    background-image: url("../textures/pillar-side.jpg");
    background-position: top center;
    background-size: cover;
    backface-visibility: hidden;
    height: 128px;
    position: absolute;
    width: 48px;
    transform: translate3d(-50%, -50%, 64px) translateY(-24px) rotateX(270deg) rotateY(180deg); }
  .pillar .face-left {
    background-image: url("../textures/pillar-side.jpg");
    background-position: top center;
    background-size: cover;
    backface-visibility: hidden;
    height: 128px;
    position: absolute;
    width: 48px;
    transform: translate3d(-50%, -50%, 64px) translateX(24px) rotateX(270deg) rotateY(90deg); }
  .pillar .face-right {
    background-image: url("../textures/pillar-side.jpg");
    background-position: top center;
    background-size: cover;
    backface-visibility: hidden;
    height: 128px;
    position: absolute;
    width: 48px;
    transform: translate3d(-50%, -50%, 64px) translateX(-24px) rotateX(270deg) rotateY(270deg); }

.pillar-top-left {
  transform: translateY(-176px) translateX(-176px); }

.pillar-top-right {
  transform: translateY(-176px) translateX(176px); }

.pillar-bottom-left {
  transform: translateY(176px) translateX(-176px); }

.pillar-bottom-right {
  transform: translateY(176px) translateX(176px); }
