.box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50%;
  transform-style: preserve-3d;
}

@mixin box($settings){
  transform: translate3d(
      map-get($settings, positionX),
      map-get($settings, positionY),
      map-get($settings, positionZ)
    )
    rotateX(map-get($settings, rotationX))
    rotateY(map-get($settings, rotationY))
    rotateZ(map-get($settings, rotationZ));

  .face{
    background-size: map-get($settings, textureSize);
    position: absolute;
  }

  .cap{
    background-position: center;
    background-image: url('../assets/textures/' + unquote(map-get($settings, textureCaps)));
    height: map-get($settings, height);
    width: map-get($settings, width);
  }

  .side{
    background-position: top center;
    background-image: url('../assets/textures/' + unquote(map-get($settings, textureSides)));
    height: map-get($settings, depth);
  }

  .top{
    transform: translate3d(-50%, -50%, map-get($settings, depth) /2);
  }
  .bottom{
    transform: translate3d(-50%, -50%, - map-get($settings, depth) /2);
  }
  .front{
    transform: translate3d(-50%, -50%, 0) translateY(map-get($settings, height) /2) rotateX(270deg);
    width: map-get($settings, width);
  }
  .back{
    transform: translate3d(-50%, -50%, 0) translateY(- map-get($settings, height) /2) rotateX(270deg) rotateY(180deg);
    width: map-get($settings, width);
  }
  .left {
    transform: translate3d(-50%, -50%, 0) translateX(map-get($settings, width) /2) rotateX(270deg) rotateY(90deg);
    width: map-get($settings, height);
  }
  .right{
    transform: translate3d(-50%, -50%, 0) translateX( - map-get($settings, width) /2) rotateX(270deg) rotateY(270deg);
    width: map-get($settings, height);
  }

}
