@mixin box(
  $pivot-position: "center",
  $depth: 128px,
  $height: 128px,
  $width: 128px,
  $texture: "box-placeholder.jpg",
  $texture-top: $texture,
  $texture-bottom: $texture,
  $texture-left: $texture,
  $texture-right: $texture,
  $texture-front: $texture,
  $texture-back: $texture,
  $texture-size: 128px
){

  @if($pivot-position == 'top'){
    $top-z: 0;
    $bottom-z: - $depth;
    $sides-z: - $depth /2;
  }@else if($pivot-position == 'center'){
    $top-z: $depth / 2;
    $bottom-z: - $depth / 2;
    $sides-z: 0;
  }@else{
    $top-z: $depth;
    $bottom-z: 0;
    $sides-z: $depth /2;
  }

  @include pivot;

  .face-top{
    @include face(0, $texture-top, $texture-size, center, $height, $width);
    transform: translate3d(-50%, -50%, $top-z);
  }

  .face-bottom{
    @include face(0.9, none, $texture-size, center, $height, $width);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    transform: translate3d(-50%, -50%, $bottom-z);
  }

  .face-front{
    @include face(0.2, $texture-front, $texture-size, top center, $depth, $width);
    transform: translate3d(-50%, -50%, $sides-z) translateY($height / 2) rotateX(270deg);
  }

  .face-back{
    @include face(0.4, $texture-back, $texture-size, top center, $depth, $width);
    transform: translate3d(-50%, -50%, $sides-z) translateY(- $height / 2) rotateX(270deg) rotateY(180deg);
  }

  .face-left {
    @include face(0.6, $texture-left, $texture-size, top center, $depth, $height);
    transform: translate3d(-50%, -50%, $sides-z) translateX($width / 2) rotateX(270deg) rotateY(90deg);
  }

  .face-right{
    @include face(0.8, $texture-right, $texture-size, top center, $depth, $height);
    transform: translate3d(-50%, -50%, $sides-z) translateX( - $width / 2) rotateX(270deg) rotateY(270deg);
  }

}
