.door{
  @include box(
    $pivot-position-z: "bottom",
    $pivot-position-x: "bottom",
    $pivot-position-y: "bottom",
    $height: 8px,
    $depth: 96px,
    $width: 64px,
    $texture: $texture-door-sides,
    $texture-top: $texture-door-top,
    $texture-size: cover
  );
  cursor: pointer;
  transform: translateX(32px) rotateZ(0deg);
  transition: transform ease-in-out 200ms;
}

.door--open{
  transform: translateX(32px) rotateZ(-70deg);
}

.wall-door{
  @include box(
    $pivot-position-z: 'bottom',
    $depth: $wall-depth,
    $height: $wall-height,
    $width: $wall-width-door,
    $texture: $texture-wall-sides,
    $texture-top: $texture-wall-top
  );
}

.wall-door-left{
  transform: translateX( - (($room-size / 2) - ($wall-width-door /2) - ($pillar-thickness)));
}

.wall-door-right{
  transform: translateX((($room-size / 2) - ($wall-width-door /2) - ($pillar-thickness)));
}

.pillar-door-left{
  transform: translateX( - (($door-size / 2) + ($pillar-thickness / 2)));
}

.pillar-door-right{
  transform: translateX((($door-size / 2) + ($pillar-thickness / 2)));
}
