@mixin face(
  $shade: 0,
  $texture: 'face-placeholder',
  $texture-size: 128px,
  $texture-position: 'center',
  $height: 128px,
  $width: 128px
){
  background-image: url('../textures/' + $texture);
  background-position: $texture-position;
  background-size: $texture-size;
  backface-visibility: hidden;
  height: $height;
  position: absolute;
  width: $width;
}
