@mixin face-asm($shade, $texture, $texture-size, $texture-pos, $height, $width){
  background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, $shade),
    rgba(0, 0, 0, $shade)),
    url('../textures/' + $texture);
  background-size: $texture-size;
  background-position: $texture-pos;
  height: $height;
  position: absolute;
  width: $width;
}
