.floor{
  @include box(
    $pivot-position: 'top',
    $depth: $floor-depth,
    $height: $room-size,
    $width: $room-size,
    $texture: $texture-floor-top,
    $texture-top: $texture-floor-sides,
    $texture-size: 400px
  );
}
