.floor{
  $settings: (
    textureSides: 'wall-side.jpg',
    textureCaps: 'floor-top.jpg',
    textureSize: 48px,
    height: 20px,
    width: 64px,
    depth: 48px,
    positionZ: 0,
    positionX: 0,
    positionY: 0,
    rotationZ: 0,
    rotationX: 0,
    rotationY: 0
  );
  @include box($settings);
}
