@mixin room-asm(
  $room-size: 500px,
  $texture-wall-top: "wall-top.jpg",
  $texture-wall-sides: "wall-side.jpg",
  $texture-floor-top: "floor-side.jpg",
  $texture-floor-sides: "floor-top.jpg",
  $texture-pillar-top: "pillar-top.jpg",
  $texture-pillar-sides: "pillar-side.jpg"
){

  $floor-depth: 128px;
  $pillar-depth: 128px;
  $pillar-thickness: 48px;
  $wall-depth: 116px;
  $wall-height: 36px;
  $wall-width: $room-size - ($pillar-thickness * 2);
  $snap-edge: ($room-size / 2) - ($pillar-thickness / 2);

  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50%;
  transform-style: preserve-3d;

  .floor{
    @include box-asm(
      $pivot: 'top',
      $depth: $floor-depth,
      $height: $room-size,
      $width: $room-size,
      $texture: $texture-floor-top,
      $texture-top: $texture-floor-sides
    );
  }

  .wall{
    &.top, &.bottom{
      @include box-asm(
        $pivot: 'bottom',
        $depth: $wall-depth,
        $height: $wall-height,
        $width: $wall-width,
        $texture: $texture-wall-sides,
        $texture-top: $texture-wall-top
      );
    }
    &.left, &.right{
      @include box-asm(
        $pivot: 'bottom',
        $depth: $wall-depth,
        $height: $wall-width,
        $width: $wall-height,
        $texture: $texture-wall-sides,
        $texture-top: $texture-wall-top
      );
    }
    &.left{
      transform: translateX(-$snap-edge);
    }
    &.right{
      transform: translateX($snap-edge);
    }
    &.top{
      transform: translateY(-$snap-edge);
    }
    &.bottom{
      transform: translateY($snap-edge);
    }
  }

  .pillar{
    @include box-asm(
      $pivot: 'bottom',
      $depth: $pillar-depth,
      $height: $pillar-thickness,
      $width: $pillar-thickness,
      $texture: $texture-pillar-sides,
      $texture-top: $texture-pillar-top
    );
    &.top-left{
      transform: translateY(-$snap-edge) translateX(-$snap-edge);
    }
    &.top-right{
      transform: translateY(-$snap-edge) translateX($snap-edge);
    }
    &.bottom-left{
      transform: translateY($snap-edge) translateX(-$snap-edge);
    }
    &.bottom-right{
      transform: translateY($snap-edge) translateX($snap-edge);
    }
  }

}
