.room{
  @include pivot;
}

.side{
  @include pivot;
}

.side-top{
  transform: translateY(-$snap-edge);
}

.side-bottom{
  transform: translateY($snap-edge);
}

.side-left{
  transform: translateX(-$snap-edge) rotateZ(90deg);
}

.side-right{
  transform: translateX($snap-edge) rotateZ(90deg);
}
