.room{
  @include room-asm( $room-size: 300px );

  &.tomb{
    @include room-asm( $room-size: 400px );
    transform: translate3D(-100px, -100px, 0);
  }

  &.dungeon{
    transform: translate3D(400px, -100px, 0);
  }

  &.kitchen{
    transform: translate3D(-100px, 400px, 0);
  }

}
