html{
  height: 100%;
}

body {
  background: linear-gradient(#000,#000,#111);
  height: 100%;
  overflow: hidden;
}

.scene{
  @include pivot;
  transform: rotateX(45deg) rotateZ(45deg);
  animation: sceneSpin 50s infinite linear;
}

@keyframes sceneSpin{
  from{
    transform: rotateX(45deg) rotateZ(45deg);
  }to{
    transform: rotateX(45deg) rotateZ(45deg + 360);
  }
}
