.scene{
position: absolute;
left: 50%;
top: 50%;
transform-origin: 50%;
transform-style: preserve-3d;
transform: rotateX(45deg) rotateZ(45deg);
animation: spin 30s infinite linear;
}

@keyframes spin{
  from{
    transform: rotateX(45deg) rotateZ(45deg);
  }to{
    transform: rotateX(45deg) rotateZ(45deg + 360);
  }
}
