.wall{
  @include box(
    $pivot-position-z: 'bottom',
    $depth: $wall-depth,
    $height: $wall-height,
    $width: $wall-width,
    $texture: $texture-wall-sides,
    $texture-top: $texture-wall-top
  );
}
